@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

p {
    hyphens: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
}

nav {
    display: flex;
}

img {
    width: 70px;
    height: 70px;
}

.logo {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
}

h1 {
    font-size: 30px;
    color: #FDC879;
    padding-left: 15px;
    padding-top: 12px;
    font-weight: 500;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}

header {
    background-color: #20348A;

}

nav .right-column {
    margin-left: auto;
    padding-top: 25px;


}

.login {
    padding-left: 55px;
}

nav .right-column a {

    text-decoration: none;
    color: #FDC879;
    font-size: 28px;
    font-weight: 400;

}

div .center {
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;


}

div .center a {
    text-decoration: none;
    color: #FDC879;
    font-size: 28px;
    font-weight: 400;


}

div .center ul {
    padding: auto;

}

div .center ul .padd {
    padding-right: 70px;
}

.hidden {
    display: none;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 55px;
}


form {


    display: flex;
    padding-top: 250px;
    padding-bottom: 155px;
    justify-content: center;

}



.search-button {
    margin-left: 20px;
    position: relative;
    min-width: 73px;
    min-height: 73px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #FDC879;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.655);
    border-radius: 45%;

}

.text-input {
    min-width: 642px;
    min-height: 73px;
    border-radius: 50px;
    padding-left: 39px;
    color: black;
    background: #D9D9D9;
    padding-right: 39px;
    border: none;
    outline: none;
    font-family: "Oswald";
    font-size: 32px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.655);
}

.search-button::after {
    content: "";


    position: absolute;
    left: 23px;
    top: 23px;

    width: 30px;
    height: 30px;

    background-image: url(../img/loupe.png);

    background-size: 30px 30px;


}

.grad1 {

    background: linear-gradient(#20348A, #0C1537);
}

.search-result h2 {
    color: #DFA44D;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    

}

.grad2 {
    background-color: #0C1537;
}

.search-result h3 {
    color: #FDC879;
    font-size: 36px;
    font-weight: 400;
}

.grad2 {
    padding-top: 100px;

}

.btn-up {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: #DFA44D;
    /* расстояние от правого края окна браузера */
    right: 50px;
    /* расстояние от нижнего края окна браузера */
    bottom: 30px;
    border-radius: 50px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 0;
    /* высота элемента */
    height: 0;
    
    
    
}

.btn-up::before {
    content: "";
    width: 30px;
    height: 30px;
    background: transparent no-repeat center center;
    background-size: 160% 160%;
    background-image: url("../img/top-btn.png");
    animation-name: top-img;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-duration: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    
}

.btn-up_show {
    animation-name: top-btn;
    animation-duration: 0.6s;
    
    /* animation-duration: normal; */
    animation-fill-mode: forwards;
}

/* @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #FDC879;
        animation-name: none;
        
    }
} */

.search-result p {
    color: white;
    font-size: 20px;
    
}

.result {
    display: flex;
}

.center-column {
    display: flex;
    margin: 0 auto;
    text-wrap: wrap;
    padding-top: 8px;
}

.firstli {
    list-style-type: none;
    
    
}

.center-column li {
    color: white;
    font-size: 28px;
    
    padding-left: 3px;
    font-weight: 400;
    
}

.result .right-column {
    margin-right: 0;
    margin-left: auto;
    padding-top: 15px;
    margin-bottom: 45px;
}

.result .right-column a {
    text-decoration: none;
    color: #DFA44D;
    font-size: 28px;
    border-bottom: 1px solid #DFA44D;
}

.result1 {

    margin-top: 55px;
}

.result .left-column {
    margin-right: auto;
}

.baseli {
    margin-left: 50px;
}

/* .search-result {
    margin-top: 50px;
} */

.poisk .center-bottom {
    text-align: center;
    text-decoration: none;
    
    

}

.poisk .center-bottom p {
    color: black;
    font-size: 26px;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 15px;

}

.best-games .center-bottom {
    text-align: center;
    text-decoration: none;
    
    
}

.best-games .center-bottom p {
    color: black;
    font-size: 26px;
    text-decoration: none;
    
    padding-top: 8px;
    padding-bottom: 15px;
}

.best-games {
    /* margin-top: 100px; */
    margin-right: 105px;
    padding-bottom: 150px;
}

.best-games .result .number p {
    font-size: 64px;
    margin-right: 50px;
    color: #DFA44D;
    
}

.best-games .result2 .number p {
    font-size: 64px;
    margin-right: 45px;
    color: #DFA44D;
}

.poisk {
    margin-left: 105px;
    margin-right: 105px;
    
}

.bests-hh {
    margin-top: 150px;
}

.poisk .center-bottom-div {
    background-color: #DFA44D;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: 20px;
}

.center-bottom-div:hover {
    background: #FDC879;
}

@keyframes top-btn {
    0% {
        width: 0;
        height: 0;
    }

    

    100% {
        width: 60px;
        height: 60px;
    }
}





.search-result .center-bottom {
    text-align: center;
    text-decoration: none;
    
    

}

.search-result .center-bottom p {
    color: black;
    font-size: 26px;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 15px;
    padding: 0 auto;

}

.best-games .center-bottom-div {
    border-radius: 50px;
    background-color: #DFA44D;
    margin: 0 auto;
    max-width: 200px;
}

.best-games .center-bottom-div:hover {
    background: #FDC879;
}


.center-bot {
    margin-left: 100px;
    margin-top: 10px;
}

.blog {
    margin-left: 100px;
    margin: 0 auto;
}

.blog h2 {
    color: #DFA44D;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
}

.news-block {
    display: flex;
    padding-top: 50px;
    margin-left: 100px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 300px;
}

.news-item {
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    text-align: center;
  }